@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

:root {
  --blue: #2e41ad;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: ; */
  color: #222;
  line-height: 1.6;
  padding: 2rem;
}

.intro-container {
  /* padding-left: 6rem;
  padding-right: 6rem; */
  margin: auto;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

#title {
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  margin-bottom: 2rem;
  font-size: 2.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width:100vw;
}

.intro-container h2 {
  color: var(--blue);
  margin-top: 2rem;
  font-size: 1.6rem;
}

.intro-container p {
  /* margin-bottom: 1rem; */
  font-size: 1rem;
}

.intro-container ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.intro-container ul li {
  margin-bottom: 0.5rem;
}

.intro-container a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 500;
}

.intro-container a:hover {
  text-decoration: underline;
  color: crimson;
}

.intro-container code,
.setting-up code,
.get-started code {
  display: block;
  background: #efefef;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 6px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
}
.intro-container code:hover {
  background-color: white;
  color: gray;
}
.intro-container figure {
  margin: 1.5rem 0;
  text-align: start;
}

.intro-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.intro-container figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}

.setting-up,
.get-started {
  padding: 0 32px 32px 32px;
}

.setting-up h2,
.get-started h2 {
  font-size: 25px;
}

.setting-up h2,
.get-started h2,
.get-started h3 {
  color: var(--blue);
}

#email {
  margin-top: 0;
}

.get-started h3 {
  padding-top: 20px;
  font-size: 20px;
}

.setting-up img,
.get-started img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 12px;
}

.get-started figcaption,
.setting-up figcaption {
  margin: 0 8px 8px 12px;
  font-size: 14px;
  color: #a0a0a0;
  font-style: italic;
}
